*{
    font-size: 1em;
    margin: 0 auto;
    padding: 0 auto;
}

button{
    margin-bottom: 3px;
}

#login input{
    width: 80%;
    margin-bottom: 3px;
}

#login{
    background: rgb(33, 44, 55);
    text-align: center;
    color: linen;
}

::-webkit-scrollbar
{
    width: 0.5em;
    height: 0.5em;
    background-color: #F5F5F5;    
    border-radius: 0.4em;
}

::-webkit-scrollbar-track
{
    border-radius: 0.4em;
    background-color: #9ea4ad;
}

::-webkit-scrollbar-thumb
{
    border-radius: 0.4em;
    background-color: #231e0d;
}

#infobar{
    padding: 2px;
    background: #252f40;
    color: linen;
    height: 3em;
    font-weight: bolder;
}

#stage{
    background: rgb(39, 39, 39);
    height: auto;
    padding-top: 2em;
}

#cards{
  width: 95%;
  height: auto;
}

#cards td{
  font-size: 1.2em;
}

#cards td:hover{
  background: #f7a056;
}

.card{
  padding: 8px;
  text-align: center;
  width: 5em;
  height: 4em;
  background: #ececbd;
  color: #33267b;
  font-weight: bolder;
}

.card-yes{
  background: green;
  color: linen;
}

.card-no{
  background: rgb(15, 16, 17);
  color: linen;
}

.card-done{
  background: skyblue;
}

.cinfo{
  font-size: 0.6em;
  font-weight: normal;
  font-style: italic;
}

#hinted{
    color: linen;
}

#con{
    background: rgb(54, 64, 73);
    color: linen;
}

#chat{
  background: rgb(54, 64, 73);
  color: rgb(222, 223, 232);
}

.chat_box{
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-weight: bold;
  word-wrap:break-word;
  word-break:break-all; 
}

.chat_box_sys{
  color: darkorange;
  font-weight: bolder;
}

#chat_board{
  overflow: auto;
  min-height: 80%;
  max-height: 80%;
}

#say{
  height: 18%;
  margin-top: 0.5em;
  text-align: center;
}

#credit{
  font-size: 1.3em;
  color: #9b25b9;
}