<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>科研</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chota.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" type="text/css">
</head>
<body>

<div class="row">
    <div id="login" class="col-2">
        用户
        <input id="uid" type="text">
        密码
        <input id="pwd" type="password">
        服务器
        <input id="addr" type="text">
        <button id="link" class="button dark">连接</button>
        <br>
        昵称
        <input id="nick" type="text">
        房间号
        <input id="room_id" type="text" value="0">
        <button id="ready" class="button dark"> 准备</button>
        <br>
        <br>
        <p style="color: brown">改昵称</p>
        <p style="color: brown">先连接</p>
        <p style="color: brown">再准备</p>
    </div>


    <div class="col-6">
        <div id="infobar" class="row">
            <div id="info0">行动代号</div>
            <div id="info1">二重奏</div>
            <div id="info2">！</div>
        </div>

        <div id="stage" class="row" style="padding-bottom: 1em">
            <table id="cards" class="col-9">
            </table>

            <div id="hinted" class="col-3"> Hints:</div>
        </div>


        <div class="row" id="con">
                <p>
                    已猜对：<span id="credit">0</span>
                </p>
                <p>
                    <input id="hint0" type="text" placeholder="关键词">
                    <input id="hint1" type="text" placeholder="数字">
                    <button class="button primary" id="hint">给出提示</button>
                    <button class="button error" id="nomore"> 不猜了</button>
                </p>
                <ul>
                    <li><i> 提示词不能包含给出词牌中的字； </i></li>
                    <li><i> 提示词不能为谐音梗或坐标等信息；</i></li>
                </ul>
        </div>
    </div>

    <div id="chat" class="col-3">
        <div id="chat_board"></div>
        <div id="say">
            <input id="speech" type="text" style="width:80%;" />
            <button id="speak" class="button success"> 发送(回车) </button>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</html>